@model LanguageSchool.Models.Course

@{
    ViewBag.Title = "Kurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<hr width="95%">

<div class="container w-100 h-100">
    <div class="row align-items-center h-100">
        <div class="col-md-3">
            <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Course")'">Lista kursów</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Create", "ContactRequest", new { id = @Model.Id })'">Zostaw prośbę o kontakt</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Index", "EntryTest", new { id = @Model.Id })'">Przykładowe testy</button>
        </div>
    </div>
</div>