@using LanguageSchool.Models.ViewModels

@model LanguageSchool.Models.ViewModels.CourseViewModels.CourseDetailsVM

@{
    ViewBag.Title = "Kurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @{ Html.RenderPartial("_PartHeader", "Dane kursu"); }
    <div class="row">
        <div class="bordered col-md-12">
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Nazwa</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="control-label col-md-2">
                    <strong>Poziom</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.LanguageProficency)
                </div>
            </div>

            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Liczba godzin</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.NumberOfHours)
                </div>

                <div class="control-label col-md-2">
                    <strong>Aktywny</strong>
                </div>
                <div class="col-md-4">
                    @{
                        string active = "nie";

                        if (Model.IsActive) { active = "tak"; }
                    }

                    @active
                </div>
            </div>

            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Data rozpoczęcia</strong>
                </div>
                <div class="col-md-4">
                    @Model.StartDate
                </div>

                <div class="control-label col-md-2">
                    <strong>Data zakończenia</strong>
                </div>
                <div class="col-md-4">
                    @Model.EndDate
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                </div>
                <div class="control-label col-md-2">
                    <strong>Opis</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="col-md-3">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Edit", "Course")'">Edytuj</button>
            </div>
            <div class="col-md-3">
                @{
                    var activateButtonValue = "Aktywuj";

                    if (@Model.IsActive)
                    {
                        activateButtonValue = "Dezaktywuj";
                    }
                }
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("DeActivate", "Course", new { id = Model.CourseId })'">@activateButtonValue</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-block btn-danger" type="button" data-toggle="modal" data-target="#deleteDialog">Usuń</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Create", "Group", new { id = Model.CourseId })'">Dodaj grupę</button>
            </div>
        </div>
    </div>
    @if (Model.Groups.Any())
    {
        Html.Partial("_PartHeader", "Grupy przypisane do kursu");
        <div class="row">
            <div class="bordered col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Utworzono
                        </th>
                        <th>
                            Nazwa
                        </th>
                        <th>
                            Prowadzący
                        </th>
                    </tr>
                    @foreach (var group in Model.Groups)
                    {
                        <tr>
                            <td>
                                @group.CreationDate
                            </td>
                            <td>
                                @Html.ActionLink(group.Name, "FullDetails", "Group", new { id = group.GroupId }, null)
                            </td>
                            <td>
                                @group.Teacher.FullName
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>

@Html.Partial("_DeleteDialog",
    new DeleteDialogViewModel (
        Model.CourseId,
        "Course",
        "Czy na pewno chcesz usunąć ten kurs? Spowoduje to usunięcie wszystkich jego grup oraz przypisanych do nich treści. Jego uczestnicy utracą do niego dostęp."
    )
)