@model IEnumerable<LanguageSchool.Models.ViewModels.CourseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body background="~/images/Background_courses.jpg">
    <div class="jumbotron">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Rozpoczęcie", "Index", new { sortColumn = "startDate", sortDirection = ViewBag.sortDirection, page = ViewBag.page },
                         new { style = "text-decoration:none; color:black" } )
                </th>
                <th>
                    @Html.ActionLink("Kurs", "Index", new { sortColumn = "name", sortDirection = ViewBag.sortDirection, page = ViewBag.page },
                         new { style = "text-decoration:none; color:black" })
                </th>
                <th>
                    Opis
                </th>
                <th>
                    @Html.ActionLink("Liczba godzin", "Index", new { sortColumn = "numberOfHours", sortDirection = ViewBag.sortDirection, page = ViewBag.page },
                         new { style = "text-decoration:none; color:black" })
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                    </td>
                    <td>
                        @item.ShortDescription
                    </td>
                    <td>
                        @item.NumberOfHours
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
