@using PagedList.Mvc;
@using LanguageSchool.Models.ViewModels;

@model PagedList.IPagedList<LanguageSchool.Models.ViewModels.CourseViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body background="~/images/Background_courses.jpg">
    <div class="jumbotron">
        <table class="table">
            <tr>
                <th>
                    @Html.Partial("_CourseIndSortHeader", new TableHeaderViewModel("Rozpoczęcie", "startDate"))
                </th>
                <th>
                    @Html.Partial("_CourseIndSortHeader", new TableHeaderViewModel("Kurs", "name"))
                </th>
                <th>
                    @Html.Partial("_CourseIndSortHeader", new TableHeaderViewModel("Poziom", "proficencyLevel"))
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Liczba godzin
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.StartDateShown
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                    </td>
                    <td>
                        @item.LanguageProficency
                    </td>
                    <td>
                        @item.ShortDescription
                    </td>
                    <td>
                        @item.NumberOfHours
                    </td>
                </tr>
            }

        </table>        
    </div>    

    <div class="col-md-5">
    </div>
    <div class="col-md-3">
        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { sortColumn = ViewBag.sortColumn, sortDirection = ViewBag.sortDirection, page }))
    </div>
    <div class="col-md-4">
    </div>
</body>
</html>
