@using PagedList.Mvc;
@model PagedList.IPagedList<LanguageSchool.Models.Course>

@{
    ViewBag.Title = "SecretaryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row thumbnail col-xs-12">
            <div class="col-xs-3">
                @Html.Label("Kursy:")
                <font color="gray">
                    aktywne @Html.CheckBox("showActivated", (bool)ViewBag.showActivated)
                    nieaktywne @Html.CheckBox("showDeactivated", (bool)ViewBag.showDeactivated)
                </font>
            </div>
            <div class="col-xs-9">
                @Html.Label("Szukana w tabeli fraza:")
                @Html.TextBox("searchString", (string)ViewBag.searchString, new { @class = "widetextarea", @style = "width:620px" })
            </div>
        </div>

        <p />

        <div class="row col-xs-12">
            <div class="col-xs-10">
                @Html.PagedListPager(Model, page => Url.Action("List",
                new
                {
                    sortColumn = ViewBag.sortColumn,
                    sortDirection = ViewBag.sortDirection,
                    searchString = ViewBag.searchString,
                    showActivated = ViewBag.showActivated,
                    showDeactivated = ViewBag.showDeactivated,
                    page
                }
            ))
            </div>
            <div class="col-xs-1">
                <button class="btn btn-default" type="reset">Przywróć</button>
            </div>
            <div class="col-xs-1" style="float:right">
                <button class="btn btn-default" id="submit" type="submit">Szukaj</button>
            </div>
        </div>
    }

    <p />

    <div class="row thumbnail col-xs-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.ActionLink("Utworzono", "List",
                        new {
                            showActivated = ViewBag.showActivated,
                            showDeactivated = ViewBag.showDeactivated,
                            searchString = ViewBag.searchString,
                            sortColumn = "creationDate",
                            sortDirection = ViewBag.sortDirection,
                            page = 1
                        },
                        new { style = "text-decoration:none; color:black" }
                    )
                </th>
                <th>
                    @Html.ActionLink("Nazwa kursu", "List",
                        new
                        {
                            showActivated = ViewBag.showActivated,
                            showDeactivated = ViewBag.showDeactivated,
                            searchString = ViewBag.searchString,
                            sortColumn = "name",
                            sortDirection = ViewBag.sortDirection,
                            page = 1
                        },
                        new { style = "text-decoration:none; color:black" }
                    )
                </th>
                <th>
                    Opis
                </th>
                <th>
                    @Html.ActionLink("Poziom", "List",
                        new
                        {
                            showActivated = ViewBag.showActivated,
                            showDeactivated = ViewBag.showDeactivated,
                            searchString = ViewBag.searchString,
                            sortColumn = "proficencyLevel",
                            sortDirection = ViewBag.sortDirection,
                            page = 1
                        },
                        new { style = "text-decoration:none; color:black" }
                    )
                </th>
                <th>
                    @Html.ActionLink("Rozpoczęcie", "List",
                        new
                        {
                            showActivated = ViewBag.showActivated,
                            showDeactivated = ViewBag.showDeactivated,
                            searchString = ViewBag.searchString,
                            sortColumn = "startDate",
                            sortDirection = ViewBag.sortDirection,
                            page = 1
                        },
                        new { style = "text-decoration:none; color:black" }
                    )
                </th>
                <th>
                    @Html.ActionLink("Zakończenie", "List",
                        new
                        {
                            showActivated = ViewBag.showActivated,
                            showDeactivated = ViewBag.showDeactivated,
                            searchString = ViewBag.searchString,
                            sortColumn = "endDate",
                            sortDirection = ViewBag.sortDirection,
                            page = 1
                        },
                        new { style = "text-decoration:none; color:black" }
                    )
                </th>
                <th>
                    Liczba godzin
                </th>
            </tr>

        @foreach (var item in Model)
        {
            var fontColor = "black";

            if (!item.IsActive)
            {
                fontColor = "silver";
            }

            <tr style="color: @fontColor">
                <td>
                    @item.CreationDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @Html.ActionLink(item.Name, "FullDetails", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageProficency.Name)
                </td>
                <td>
                    @item.StartDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @item.EndDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfHours)
                </td>
            </tr>
            }

        </table>
    </div>
</div>
