@model LanguageSchool.Models.ViewModels.GroupViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-md-12">
        <div class="thumbnail col-md-4">
            <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Create", "LessonSubject", new { id = Model.GroupId})'">Dodaj nowy temat</button>
        </div>
    </div>
    <div class="row thumbnail col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Utworzono
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Opis
                </th>
            </tr>
            @foreach (var lessonSubject in Model.LessonSubjects)
            {
                <tr>
                    <td>
                        @lessonSubject.CreationDate.ToString("yyy/MM/dd")
                    </td>
                    <td>
                        @Html.ActionLink(lessonSubject.Name, "Upload", "Material", new { CourseId = lessonSubject.CourseId }, null)
                    </td>
                    <td>
                        @lessonSubject.Description
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row col-md-12">
        <div class="thumbnail col-md-4">
            Uczestnicy
        </div>
    </div>
    <div class="row thumbnail col-md-12">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Dodano
                </th>
                <th>
                    Nazwa użytkownika
                </th>
                <th>
                    Email
                </th>
                <th>
                    Numer telefonu
                </th>
            </tr>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>
                        @student.CreationDate
                    </td>
                    <td>
                        @student.Fullname
                    </td>
                    <td>
                        @student.EmailAdress
                    </td>
                    <td>
                        @student.PublicPhoneNumber
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
