@model LanguageSchool.Models.ViewModels.GroupViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="bordered col-md-4">
            <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Create", "LessonSubject", new { id = Model.GroupId})'">Dodaj nowy temat</button>
        </div>
    </div>
    <div class="row">
        <div class="bordered col-md-4">
            <strong>Tematy</strong>
        </div>
        <div class="bordered col-md-7 col-md-offset-1">
            <strong>Uczestnicy</strong>
        </div>
    </div>
    <div class="row">
        <div class="bordered col-md-4">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Utworzono
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Opis
                    </th>
                </tr>
                @foreach (var lessonSubject in Model.LessonSubjects)
                {
                    var fontColor = "black";

                    if (!lessonSubject.IsActive)
                    {
                        fontColor = "silver";
                    }

                    <tr style="color: @fontColor">
                        <td>
                            @lessonSubject.CreationDate.ToString("yyy/MM/dd")
                        </td>
                        <td>
                            @Html.ActionLink(lessonSubject.Name, "Details", "LessonSubject", new { id = lessonSubject.Id }, null)
                        </td>
                        <td>
                            @lessonSubject.Description
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="bordered col-md-7 col-md-offset-1">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Zapisano
                    </th>
                    <th>
                        Student
                    </th>
                    <th>
                        Adres email
                    </th>
                    <th>
                        Numer telefonu
                    </th>
                </tr>
                @foreach (var student in Model.Students)
                {
                    <tr>
                        <td>
                            @student.UserGroups.Where(ug => ug.GroupId == Model.GroupId).First().CreationDate.ToString("yyyy/MM/dd")
                        </td>
                        <td>
                            @student.Fullname
                        </td>
                        <td>
                            @student.EmailAdress
                        </td>
                        <td>
                            @student.PublicPhoneNumber
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @if (Model.Tests.Any())
    {
        <div class="row">
            <div class="bordered col-md-12">
                <strong>Testy utworzone dla grupy</strong>
            </div>
            <div class="bordered col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Utworzono
                        </th>
                        <th>
                            Nazwa
                        </th>
                        <th>
                            Komentarz
                        </th>
                        <th>
                            Liczba pytań
                        </th>
                        <th>
                            Punkty
                        </th>
                    </tr>
                    @foreach (var test in Model.Tests)
                    {
                        var fontColor = "black";

                        if (!test.IsActive)
                        {
                            fontColor = "silver";
                        }

                        <tr style="color: @fontColor">
                            <td>
                                @test.CreationDate.ToString("yyyy/MM/dd")
                            </td>
                            <td>
                                @test.Name
                            </td>
                            <td>
                                @test.Comment
                            </td>
                            <td>
                                @test.NumberOfClosedQuestions/@test.NumberOfOpenQuestions/@test.NumberOfQuestions
                            </td>
                            <td>
                                @test.Points
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    @if (Model.LessonSubjects.Any())
    {
        <div class="row">
            <div class="col-md-3 col-md-offset-7">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Create", "Test", new { GroupId = Model.GroupId})'">Utwórz nowy test</button>
            </div>
        </div>
    }
</div>