@model LanguageSchool.Models.ViewModels.GroupViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-md-12">
        <div class="thumbnail col-md-4">
            <div class="col-md-6">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Edit", "Group")'">Edytuj</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-danger" type="button" onclick="location.href='@Url.Action("Delete", "Group")'">Usuń</button>
            </div>
        </div>
    </div>
    <div class="row thumbnail col-md-12">
        <div class="col-md-3">
            <label>
                Nazwa
            </label>
        </div>

        <div class="col-md-3">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="col-md-3">
            <label>
                Prowadzący
            </label>
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(model => model.Teacher.Fullname)
        </div>
    </div>
    <div class="row col-md-12">
        <div class="thumbnail col-md-3">
            <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("AddUser", "Group")'">Dodaj nowego ucznia</button>
        </div>
    </div>

    @if (Model.Students.Any())
    {
        <p />
        <div class="row thumbnail col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Utworzono
                    </th>
                    <th>
                        Uczeń
                    </th>
                </tr>
                @foreach (var student in Model.Students)
                {
                    <tr>
                        <td>
                            @student.CreationDate
                        </td>
                        <td>
                            @student.Fullname
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>