@using LanguageSchool.Models.ViewModels

@model LanguageSchool.Models.ViewModels.GroupViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.Partial("_PartHeader", "Dane grupy")
    <div class="row">
        <div class="bordered col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label>
                        Nazwa
                    </label>
                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="col-md-3">
                    <label>
                        Prowadzący
                    </label>
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Teacher.Fullname)
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>
                        Data rozpoczęcia
                    </label>
                </div>

                <div class="col-md-3">
                    @Html.DisplayFor(model => model.StartDate)
                </div>

                <div class="col-md-3">
                    <label>
                        Data zakończenia
                    </label>
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4 col-md-offset-8">
            <div class="col-md-6">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Edit", "Group")'">Edytuj</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-danger" type="button" data-toggle="modal" data-target="#deleteDialog">Usuń</button>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("_PartHeader", "Godziny zajęć"); }
    <div class="row">
        <div class="bordered col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Dzień
                    </th>
                    <th>
                        Godziny
                    </th>
                </tr>
                @foreach (var groupTime in Model.Hours)
                {
                    <tr>
                        <td>
                            @groupTime.DayOfWeek.PLName
                        </td>
                        <td>
                            @groupTime.StartTime.15 - @(groupTime.EndTime + 1).15
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @if (Model.Students.Any())
    {
        Html.RenderPartial("_PartHeader", "Zapisani studenci");
        <div class="row">
            <div class="bordered col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Zapisano
                        </th>
                        <th>
                            Student
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Numer telefonu
                        </th>
                    </tr>
                    @foreach (var student in Model.Students)
                    {
                        var modalId = "deleteStudentDialog";

                        <tr style="height:15px">
                            <td style="vertical-align:middle">
                                @student.EnrollmentDate
                            </td>
                            <td style="vertical-align:middle">
                                @Html.ActionLink(student.Fullname, "Details", "UserData", new { id = student.UserId }, null)
                            </td>
                            <td style="vertical-align:middle">
                                @student.EmailAdress
                            </td>
                            <td style="vertical-align:middle">
                                @student.PublicPhoneNumber
                            </td>
                            <td style="width:30px">
                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#@modalId">Usuń</button>
                            </td>
                            @Html.Partial("_DeleteDialog",
                                new DeleteDialogViewModel(
                                    student.UserGroupId,
                                    "Group",
                                    "DeleteStudent",
                                    "Czy na pewno chcesz usunąć tego uczestnika z grupy?",
                                    modalId
                                )
                            )
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    <div class="row col-md-12">
        <div class="col-md-4 col-md-offset-8">
            <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("AddUsers", "Group")'">Zapisz nowych studentów</button>
        </div>
    </div>
</div>

@Html.Partial("_DeleteDialog",
    new DeleteDialogViewModel(
        Model.GroupId,
        "Group",
        "Czy na pewno chcesz usunąć grupę? Przypisane do niej osoby utracą do niej dostęp. Przypisane do niej materiały staną się niedostępne dla prowadzących przypisanych do kursu."
    )
)