@model LanguageSchool.Models.ViewModels.ExistingLessonSubjectsVM

@{
    ViewBag.Title = "Utwórz temat lekcji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        @foreach (var group in Model.CourseGroups.Where(g => g.LessonSubjects.Any()))
        {
            @Html.Partial("_PartHeader", group.Name)
            <div class="row">
                <div class="bordered col-md-12">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>
                                Data utworzenia
                            </th>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Opis
                            </th>
                        </tr>
                        @foreach (var lessonSubject in group.LessonSubjects.Where(ls => !ls.IsDeleted))
                        {
                            <tr valign="middle">
                                <td>
                                    @lessonSubject.CreationDate.ToString("yyy/MM/dd")
                                </td>
                                <td>
                                    @lessonSubject.Name
                                </td>
                                <td>
                                    @lessonSubject.Description
                                </td>
                                <td style="width:30px">
                                    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Copy", new { lessonSubjectId = lessonSubject.Id, groupId = Model.TeacherGroupId })'">Wybierz</button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
</div>