@model LanguageSchool.Models.ViewModels.GroupStudentVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.Partial("_PartHeader", "Prowadzący:" + Model.Teacher.Fullname)
    <div class="row">
        <div class="bordered col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Utworzono
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Opis
                    </th>
                </tr>
                @foreach (var lessonSubject in Model.LessonSubjects)
                {
                    <tr>
                        <td>
                            @lessonSubject.CreationDate.ToString("yyy/MM/dd")
                        </td>
                        <td>
                            @Html.ActionLink(lessonSubject.Name, "Index", "Material", new { Id = lessonSubject.Id }, null)
                        </td>
                        <td>
                            @lessonSubject.Description
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    @if(Model.Tests.Any())
    {
        @Html.Partial("_PartHeader", "Testy oczekujące")
        <div class="row">
            <div class="bordered col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Nazwa
                        </th>
                        <th>
                            Komentarz do testu
                        </th>
                        <th>
                            Liczba pytań
                        </th>
                    </tr>
                    @foreach (var test in Model.Tests)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(test.Name, "Take", "Test", new { testId = test.Id }, null)
                            </td>
                            <td>
                                @test.Comment
                            </td>
                            <td>
                                @test.NumberOfClosedQuestions/@test.NumberOfOpenQuestions/@(test.NumberOfOpenQuestions + test.NumberOfClosedQuestions)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    @if (Model.TakenTests.Any())
    {
        @Html.Partial("_PartHeader", "Uzyskane oceny")
        <div class="row">
            <div class="bordered col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Nazwa testu
                        </th>
                        <th>
                            Komentarz do testu
                        </th>
                        <th>
                            Uzyskane punkty
                        </th>
                        <th>
                            Ocena
                        </th>
                    </tr>
                    @foreach (var test in Model.TakenTests)
                    {
                        var fontColor = "black";

                        if (!test.IsMarked)
                        {
                            fontColor = "silver";
                        }

                        <tr style="color: @fontColor">
                            <td>
                                @test.CreationDate
                            </td>
                            <td>
                                @test.Name
                            </td>
                            <td>
                                @test.Comment
                            </td>
                            <td>
                                @test.PointsAwarded / @test.Points
                            </td>
                            <td>
                                @test.Mark
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>
