@model IEnumerable<LanguageSchool.Models.UserOpenAnswer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.Partial("_PartHeader", "Odpowiedzi na pytania otwarte")
    <div class="row bordered">
        <table class="col-md-12 table table-striped table-bordered">
            <tr>
                <th>
                    Nazwa testu
                </th>
                <th>
                    Treść pytania
                </th>
                <th>
                    Udzielona odpowiedź
                </th>
                <th>
                    Punkty do uzyskania
                </th>
                <th>
                    Komentarz
                </th>
            </tr>

            @foreach (var item in Model)
            {
                var shownContent = item.Content;

                if (item.Content.Length > 30)
                {
                    shownContent = item.Content.Substring(0, 30) + "...";
                }

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Test.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenQuestion.Contents)
                    </td>
                    <td>
                        @Html.ActionLink(shownContent, "Grade", new { Id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OpenQuestion.Points)
                    </td>
                        @if (item.Comment != null)
                        {
                            <td>
                                @item.Comment
                            </td>
                        }
                        else
                        {
                            <td align="center"> - </td>
                        }
                </tr>
            }
        </table>
    </div>
</div>
