@model LanguageSchool.Models.ViewModels.ClosedQuestionViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.CurrentAnswer)
    @Html.HiddenFor(model => model.Contents)
    @Html.HiddenFor(model => model.Points)
    @Html.HiddenFor(model => model.LessonSubjectId)

    var CurrentAnswer = Model.CurrentAnswer - 1;

    for (var i = 0; i < CurrentAnswer; i++)
    {
        @Html.HiddenFor(model => model.Answers[i].Answer)
        @Html.HiddenFor(model => model.Answers[i].IsCorrect)
    }

    <div class="container">
        <div class="row col-md-12">
            <div class="thumbnail col-md-3">
                <input type="submit" value="Dalej" class="btn btn-block btn-default" />
            </div>
        </div>
        <div class="row thumbnail col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label>
                        Treść
                    </label>
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Contents)
                </div>
                <div class="col-md-3">
                    <label>
                        Punkty
                    </label>
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(model => model.Points)
                </div>
            </div>
        </div>
        
        @if (CurrentAnswer >= 1)
        {
            <div class="row thumbnail col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Pytania
                        </th>
                    </tr>                    
                    @for (var i = 0; i < CurrentAnswer; i++)
                    {
                        <tr>
                            <td>
                                @Model.Answers[i].Answer
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }

        <div class="row form-horizontal thumbnail col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="control-label col-md-4">
                        <strong>Treść</strong>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Answers[CurrentAnswer].Answer, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="control-label col-md-4">
                        <strong>Poprawna</strong>
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.Answers[CurrentAnswer].IsCorrect)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
