@model LanguageSchool.Models.ViewModels.ClosedQuestionViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.LessonSubjectId)
    @Html.HiddenFor(model => model.Contents)
    @Html.HiddenFor(model => model.Points)
    @Html.HiddenFor(model => model.IsMultichoice)
    @Html.HiddenFor(model => model.NumberOfPossibleAnswers)

    var curr = Model.Answers.Count - 1;

    for (var i = 0; i < curr; i++)
    {
        @Html.HiddenFor(model => model.Answers[i].Answer)
        @Html.HiddenFor(model => model.Answers[i].IsCorrect)
    }

    <div class="container">
        <div class="row col-md-12">
            <div class="thumbnail col-md-3">
                <div class="col-md-6">
                    <input type="submit" name="submit" value="Dalej" class="btn btn-block btn-default" />
                </div>
                <div class="col-md-6">
                    <input type="submit" name="submit" value="Utwórz" class="btn btn-block btn-primary" />
                </div>
            </div>
        </div>
        <div class="row thumbnail col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="control-label col-md-2">
                        <strong>Treść</strong>
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Contents)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="control-label col-md-7">
                            <strong>Wyświetlane</strong>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.NumberOfPossibleAnswers)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="control-label col-md-7">
                            <strong>Punkty</strong>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.Points)
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="control-label col-md-7">
                            <strong>Wielokrotnego wyboru</strong>
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.IsMultichoice)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        @if (curr >= 1)
        {
            <div class="row thumbnail col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Odpowiedzi
                        </th>
                    </tr>                    
                    @for (var i = 0; i < curr; i++)
                    {
                        var color = "black";

                        if (@Model.Answers[i].IsCorrect)
                        {
                            color = "forestgreen";
                        }
                        <tr>
                            <td style="color:@color">
                                @Model.Answers[i].Answer
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }

        <div class="row form-horizontal thumbnail col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="control-label col-md-4">
                        <strong>Treść</strong>
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Answers[curr].Answer, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="control-label col-md-4">
                        <strong>Poprawna</strong>
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.Answers[curr].IsCorrect)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
