@model LanguageSchool.Models.UserData

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-md-12">
        <div class="thumbnail col-md-4">
            <div class="col-md-6">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Edit", "UserData", new { id = @Model.Id })'">Edytuj</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("AddGroups", "User")/@Model.Id'">Dodaj do grup</button>
            </div>
        </div>
    </div>
    <div class="row thumbnail col-md-12">
        <div class="col-md-4">
            <label>
                Login:
            </label>

            @Html.DisplayFor(model => model.User.Login)
        </div>

        <div class="col-md-4">
            <div class="col-md-6">
                <label>
                    Hasło:
                </label>
            </div>

            <div class="col-md-6" id="placeholder" style="display: block">
                ●●●●●●●●
            </div>
            <div class="col-md-6" id="password" style="display: none">
                @Html.DisplayFor(model => model.User.Password)
            </div>
        </div>

        <div class="col-md-4">
            <label>
                Pokaż hasło:
            </label>
            <input type="checkbox" onclick="showPassword()">
        </div>
    </div>

    <div class="row thumbnail col-md-12">
        <div class="row form-group">
            <div class="control-label col-md-2">
                <strong>Data utworzenia wpisu</strong>
            </div>
            <div class="col-md-4">
                @Model.CreationDate.ToString("yyyy/MM/dd")
            </div>
        </div>
        <div class="row form-group">
            <div class="control-label col-md-2">
                <strong>Imię</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Name)
            </div>

            <div class="control-label col-md-2">
                <strong>Nazwisko</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Surname)
            </div>
        </div>
        <div class="row form-group">
            <div class="control-label col-md-2">
                <strong>Miasto</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.City)
            </div>

            <div class="control-label col-md-2">
                <strong>Ulica</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Street)
            </div>
        </div>
        <div class="row form-group">
            <div class="control-label col-md-2">
                <strong>Numer domu</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.HouseNumber)
            </div>

            <div class="control-label col-md-2">
                <strong>Numer mieszkania</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.HomeNumber)
            </div>
        </div>
        <div class="row form-group">
            <div class="control-label col-md-2">
                <strong>Publiczny numer telefonu</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.PublicPhoneNumber)
            </div>

            <div class="control-label col-md-2">
                <strong>Prywatny numer telefonu</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.PrivatePhoneNumber)
            </div>
        </div>
        <div class="row form-group">
            <div class="control-label col-md-2">
                <strong>Adres email</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.EmailAdress)
            </div>

            <div class="control-label col-md-2">
                <strong>Komentarz</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Comment)
            </div>
        </div>
    </div>
</div>

<script>
    function showPassword() {
        var placeholder = document.getElementById("placeholder");
        var password = document.getElementById("password");

        if (placeholder.style.display === "block") {
            placeholder.style.display = "none";
            password.style.display = "block";
        } else {
            placeholder.style.display = "block";
            password.style.display = "none";
        }
    }
</script>
