@using PagedList.Mvc;
@using LanguageSchool.Models.ViewModels;

@model PagedList.IPagedList<LanguageSchool.Models.GetContactInfoListItem>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        var toFirst = Url.Action("List", new
        {
            creationDateFrom = ViewBag.creationDateFrom,
            creationDateTo = ViewBag.creationDateTo,
            PreferredHoursFrom = ViewBag.PreferredHoursFrom,
            PreferredHoursTo = ViewBag.PreferredHoursTo,
            fullName = ViewBag.fullName,
            city = ViewBag.city,
            street = ViewBag.street,
            phoneNumber = ViewBag.phoneNumber,
            emailAdress = ViewBag.emailAdress,
            showUserData = ViewBag.showUserData,
            showContactRequests = ViewBag.showContactRequests,
            sortColumn = "CreationDate",
            sortDirection = "desc",
            page = 1
        });

        DateTime now = DateTime.Now;

        <div class="row">
            <div class="bordered col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Utworzono od:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-1">
                        @Html.TextBox("creationDateFrom", (new DateTime(now.Year, now.Month, 1)).ToString("yyyy/MM/dd"), new { @id = "creationDateFrom", @class = "textarea", @style = "width:80px" })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Imię i nazwisko:", new { style = "float:right" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("fullName", (string)ViewBag.fullName, new
                   {
                       @class = "textarea",
                       @style = "width:300px",
                       placeholder = "dane i prośby"
                   }
                        )
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Typ:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-2">
                        <font color="gray">
                            dane @Html.CheckBox("showUserData", (bool)ViewBag.showUserData, new { @id = "showUserData" })
                        </font>
                        <font color="red">
                            prośby @Html.CheckBox("showContactRequests", (bool)ViewBag.showContactRequests, new { @id = "showContactRequests" })
                        </font>
                    </div>
                </div>
                <p />
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Utworzono do:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("creationDateTo", now.ToString("yyyy/MM/dd"), new { @id = "creationDateTo", @class = "textarea", @style = "width:80px" })
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Email:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("emailAdress", (string)ViewBag.emailAdress, new
               {
                   @class = "textarea",
                   @style = "width:200px",
                   placeholder = "dane i prośby"
               })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Miasto:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("city", (string)ViewBag.city, new
               {
                   @class = "textarea",
                   @style = "width:120px",
                   placeholder = "dane"
               })
                    </div>
                </div>
                <p />
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Godziny:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("PreferredHoursFrom", (int)ViewBag.PreferredHoursFrom, new { @id = "preferredHoursFrom", @class = "textarea", @style = "width:30px" })
                        -
                        @Html.TextBox("PreferredHoursTo", (int)ViewBag.PreferredHoursTo, new { @id = "preferredHoursTo", @class = "textarea", @style = "width:30px" })
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Ulica:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-3">
                        @Html.TextBox("street", (string)ViewBag.street, new
                           {
                               @class = "textarea",
                               @style = "width:300px",
                               placeholder = "dane"
                           })
                    </div>
                    <div class="col-md-2">
                        @Html.Label("Telefon:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("phoneNumber", (string)ViewBag.phoneNumber, new
                           {
                               @class = "textarea",
                               @style = "width:120px",
                               placeholder = "dane i prośby"
                           })
                    </div>
                </div>
                <p />
                <div class="row">
                    <div class="col-md-offset-4 col-md-1">
                        @Html.Label("Kurs:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownList("CourseId", (SelectList)ViewBag.Courses, "Wybierz kurs", new { @class = "form-control" })
                    </div>
                    <div class="col-md-offset-1 col-md-1">
                        @Html.Label("Rola:", new { @style = "float:right" })
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownList("RoleId", (SelectList)ViewBag.Roles, "Wybierz rolę", new { @class = "form-control" })
                    </div>
                </div>
            </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md-10">
            @Html.PagedListPager(Model, page => Url.Action("List",
             new
             {
                 creationDateFrom = ViewBag.creationDateFrom,
                 creationDateTo = ViewBag.creationDateTo,
                 PreferredHoursFrom = ViewBag.PreferredHoursFrom,
                 PreferredHoursTo = ViewBag.PreferredHoursTo,
                 fullName = ViewBag.fullName,
                 city = ViewBag.city,
                 street = ViewBag.street,
                 phoneNumber = ViewBag.phoneNumber,
                 emailAdress = ViewBag.emailAdress,
                 showUserData = ViewBag.showUserData,
                 showContactRequests = ViewBag.showContactRequests,
                 sortColumn = ViewBag.sortColumn,
                 sortDirection = ViewBag.sortDirection,
                 page
             }
         ))
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" formaction=@toFirst formmethod="post" onclick="ResetForms()">Wyczyść</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" id="submit" formaction=@toFirst formmethod="post">Szukaj</button>
        </div>
    </div>
}

    @{bool hasUserData = Model.Where(m => m.IsContactRequest == 0).Any(); }

    <div class="row">
        <div class="bordered col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.Partial("_UserDataTabSortHeader", new TableHeaderViewModel("Utworzono", "CreationDate"))
                    </th>
                    <th>
                        @Html.Partial("_UserDataTabSortHeader", new TableHeaderViewModel("Imię i nazwisko", "FullName"))
                    </th>
                    @if (hasUserData
                                || (Model.Count == 0 && (bool)ViewBag.ShowUserData == true))
                    {
                        <th>
                            @Html.Partial("_UserDataTabSortHeader", new TableHeaderViewModel("Miasto", "City"))
                        </th>
                        <th>
                            @Html.Partial("_UserDataTabSortHeader", new TableHeaderViewModel("Ulica", "Street"))
                        </th>
                    }
                    <th>
                        @Html.Partial("_UserDataTabSortHeader", new TableHeaderViewModel("Numer telefonu", "PhoneNumber"))
                    </th>
                    <th>
                        @Html.Partial("_UserDataTabSortHeader", new TableHeaderViewModel("Adres email", "EmailAdress"))
                    </th>
                    <th style="width:30px">
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    string rowStyle = "";
                    string linkStyle = "";
                    string controllerName = "UserData";

                    if (item.IsContactRequest == 1)
                    {
                        controllerName = "ContactRequest";
                        rowStyle = "background-color: pink; color:darkred;";
                        linkStyle = "color:red";
                    }

                    <tr style="@rowStyle">
                        <td>
                            @item.CreationDate.ToString("yyyy/MM/dd")
                        </td>
                        <td>
                            @Html.ActionLink(item.FullName, "Details", controllerName, new { id = item.Id }, new { style = linkStyle })
                        </td>
                        @if (hasUserData)
                        {
                            <td>
                                @item.City
                            </td>
                            <td>
                                @item.Street
                            </td>
                        }
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.EmailAdress
                        </td>
                        <td>
                            @if (item.Comment != null)
                            {
                                var modalId = "comment" + item.IsContactRequest + "_" + item.Id;

                                <label data-toggle="modal" data-target="#@modalId"><span class="glyphicon glyphicon-comment"></span></label>
                                <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Komentarz</h4>
                                            </div>
                                            <div class="modal-body">
                                                @item.Comment
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<script>
    function ResetForms() {
        var current = new Date();
        var currentYear = current.getFullYear();
        var currentMonth = current.getMonth();

        var firstDayOfMonth = new Date(currentYear, currentMonth, 2);

        //daty - todo

        debugger;

        var creationDateFrom = document.getElementById("creationDateFrom");
        var creationDateTo = document.getElementById("creationDateTo");

        creationDateFrom.value = firstDayOfMonth.toISOString().substring(0, 10);
        creationDateTo.value = current.toISOString().substring(0, 10);

        //godziny

        var preferredHoursFrom = document.getElementById("preferredHoursFrom");
        var preferredHoursTo = document.getElementById("preferredHoursTo");

        preferredHoursFrom.value = current.getHours();
        preferredHoursTo.value = 20;

        //dropdown

        var RoleId = document.getElementById("RoleId");
        var CourseId = document.getElementById("CourseId");

        RoleId.value = null;
        CourseId.value = null;

        //filtry tekstowe

        var fullName = document.getElementById("fullName");
        var emailAdress = document.getElementById("emailAdress");
        var city = document.getElementById("city");
        var street = document.getElementById("street");
        var phoneNumber = document.getElementById("phoneNumber");

        fullName.value = "";
        emailAdress.value = "";
        city.value = "";
        street.value = "";
        phoneNumber.value = "";

        // bity

        var showUserData = document.getElementById("showUserData");
        var showContactRequests = document.getElementById("showContactRequests");

        showUserData.value = false;
        showContactRequests.value = true;
    }
</script>