@using LanguageSchool.Models.ViewModels

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szkoła językowa BeLingua</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/home_marketable.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top " style="background-color: darkorange">
        <div class="col-md-1">
        </div>
        <a class="navbar-brand" padding="15px" href="@Url.Action("Index", "Home")">
            @Html.Partial("_MenuLogo")
        </a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_MenuItems")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    @{
        var paddingTop = "70px";

        if (User.Identity.IsAuthenticated)
        {
            paddingTop = "25px";
        }
    }

    

    <div class="container body-content" style="padding-top: @paddingTop; padding-bottom: 70px;">
        
        @if (TempData["Alert"] != null)
        {
            var alert = (AlertViewModel) TempData["Alert"];

            <div class="alert" style="background-color: @alert.AlertColor; color: white; text-align: center;">
                <strong>@alert.Title</strong>: @alert.Message
            </div>
        }

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
