@using LanguageSchool.Models.ViewModels

@if (Session["Menus"] != null)
{
    var menus = (List<MenuViewModel>)Session["Menus"];

    <ul class="nav navbar-nav">
        @foreach (MenuViewModel m in menus)
        {
            <li>@Html.ActionLink(m.ShownName, m.ActionName, m.ControllerName, routeValues: null, htmlAttributes: new { style = "color:white" })</li>
        }
    </ul>
}

@*<li>@Html.ActionLink("Kursy", "Index", "Course", new { @style = "color:white" })</li>
    <li>@Html.ActionLink("Materiały", "Index", "Home", new { @style = "color:white" })</li>
    <li>@Html.ActionLink("Testy", "Index", "Home", new { @style = "color:white" })</li>
    <li>@Html.ActionLink("Dane kontaktowe", "Index", "Home", new { @style = "color:white" })</li>*@
