@using LanguageSchool.Models.ViewModels

@model LanguageSchool.Models.ViewModels.TestViewModel

@{
    ViewBag.Title = "TakeTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body background="~/images/Background_test_faded.jpg">
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CourseId)
    @Html.HiddenFor(model => model.Points)
    @Html.HiddenFor(model => model.Questions)
    
    <h1 class="display-3">@Model.Name</h1>

    if (Model.Comment != "-")
    {
        <p>@Model.Comment</p>
    }

    <hr />

    <table class="table">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            @Html.HiddenFor(q => Model.Questions[i].Points)

            <tr>
                <td>
                    @Model.Questions[i].Contents

                    @for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
                    {
                        <div class="form-group">
                            <div class="col-md-2">
                                @Model.Questions[i].Answers[j].Answer
                            </div>
                            <div class="col-md-10">
                                @Html.RadioButton(Model.Questions[i].Id.ToString(), Model.Questions[i].Answers[j].IsMarked)

                                @Html.HiddenFor(a => Model.Questions[i].Answers[j].IsCorrect)
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>

    <hr width="95%">

    <div class="container w-100 h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-3">
                <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Index", "EntryTest", new { id = @Model.CourseId })'">Lista testów</button>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <input type="submit" value="Oceń" class="btn btn-block btn-primary" />
            </div>
        </div>
    </div>
} 
</body>