@model LanguageSchool.Models.ViewModels.ContactRequestViewModels.ContactRequestInputVM

@{
    ViewBag.Title = "Prośba o kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body background="~/images/Background_contact_faded.jpg">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CourseId)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="control-label col-md-2">
                    <strong>Numer telefonu</strong>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "np. 140-633-900" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <strong>Adres email</strong>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailAdress, new { htmlAttributes = new { @class = "form-control", placeholder = "np. imie.nazwisko@poczta.pl" } })
                    @Html.ValidationMessageFor(model => model.EmailAdress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <strong>Godziny kontaktu od</strong>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PreferredHoursFrom, new { htmlAttributes = new { @class = "form-control", @style = "width:70px" } })
                    @Html.ValidationMessageFor(model => model.PreferredHoursFrom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <strong>Godziny kontaktu do</strong>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PreferredHoursTo, new { htmlAttributes = new { @class = "form-control", @style = "width:70px" } })
                    @Html.ValidationMessageFor(model => model.PreferredHoursTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <strong>Imię</strong>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">
                    <strong>Nazwisko</strong>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Wyślij" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    @Html.Partial("_BackToCourses")

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>