@model LanguageSchool.Models.ViewModels.ContactRequestViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @{ Html.RenderPartial("_PartHeader", "Prośba o kontakt"); }
    <div class="row">
        <div class="bordered col-md-12">
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Imię i nazwisko</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Fullname)
                </div>

                <div class="control-label col-md-2">
                    <strong>Numer telefonu</strong>
                </div>
                <div class="col-md-4">
                    <a href="tel:@Model.PhoneNumber.Replace("-", "")">@Model.PhoneNumber</a>
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Data wysłania prośby</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CreationDate)
                </div>

                <div class="control-label col-md-2">
                    <strong>Kurs</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Course.Name)
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Adres email</strong>
                </div>
                <div class="col-md-4">
                    @{ string subject = "Prośba o kontakt - " + Model.Course.Name;
                        string body = "Dzień dobry,%0D%0A%0D%0A" +
                            "Piszę w odpowiedzi na prośbę o kontakt złożoną w kwestii prowadzonego przez naszą szkołę szkolenia - " + Model.Course.Name + ".%0D%0A%0D%0A"; }

                    <a href="mailto:@Model.EmailAdress&subject=@subject&body=@body">@Model.EmailAdress</a>
                </div>

                <div class="control-label col-md-2">
                    <strong>Komentarz</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Comment)
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4 col-md-offset-8">
            <div class="col-md-6">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Edit", "ContactRequest", new { id = @Model.Id })'">Edytuj</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Create", "UserData")/@Model.Id'">Utwórz użytkownika</button>
            </div>
        </div>
    </div>
</div>