@model LanguageSchool.Models.ViewModels.ContactRequestViewModels.ContactRequestsDetailsVM

@{
    ViewBag.Title = "Prośba o kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.Partial("_PartHeader", "Prośba o kontakt")
    <div class="row">
        <div class="bordered col-md-12">
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Imię</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="control-label col-md-2">
                    <strong>Nazwisko</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Surname)
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Data wysłania prośby</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CreationDate)
                </div>

                <div class="control-label col-md-2">
                    <strong>Data modyfikacji prośby</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.ModificationDate)
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Numer telefonu</strong>
                </div>
                <div class="col-md-4">
                    <a href="tel:@Model.PhoneNumberContact">@Model.PhoneNumber</a>
                </div>

                <div class="control-label col-md-2">
                    <strong>Adres email</strong>
                </div>
                <div class="col-md-4">
                @if(Model.EmailAdress.Length > 1)
                {
                    string subject = "Prośba o kontakt - " + Model.CourseName;
                    string body = "Dzień dobry,%0D%0A%0D%0A" +
                        "Piszę w odpowiedzi na prośbę o kontakt złożoną w kwestii prowadzonego przez naszą szkołę szkolenia. ";

                    <a href="mailto:@Model.EmailAdress&subject=@subject&body=@body">@Model.EmailAdress</a>
                }
                else
                {
                    @Model.EmailAdress
                }
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Godziny kontaktu od</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PreferredHoursFrom)
                </div>

                <div class="control-label col-md-2">
                    <strong>Godziny kontaktu do</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.PreferredHoursTo)
                </div>
            </div>
            <div class="row form-group">
                <div class="control-label col-md-2">
                    <strong>Kurs</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.CourseName)
                </div>

                <div class="control-label col-md-2">
                    <strong>Komentarz</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Comment)
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4 col-md-offset-8">
            <div class="col-md-6">
                <button class="btn btn-block btn-default" type="button" onclick="location.href='@Url.Action("Edit", "ContactRequest", new { id = @Model.ContactRequestId })'">Edytuj</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-primary" type="button" onclick="location.href='@Url.Action("Create", "UserData")/@Model.ContactRequestId'">Utwórz użytkownika</button>
            </div>
        </div>
    </div>
</div>