@model LanguageSchool.Models.ViewModels.UserMessageViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @*<div class="form-group">
                @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="control-label col-md-2">
                <strong>Temat</strong>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <strong>Treść</strong>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <strong>Typ wiadomości</strong>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("MessageType", (IEnumerable<SelectListItem>)ViewData["MessageTypes"], new { @onchange = "MessageTypeChanged(this.value)" })
            </div>
        </div>
        <div id="conditional">
            <div id="1" style="display: block">
                Lista osób
            </div>
            <div id="2" style="display: none">
                Lista kursów
            </div>
            <div id="3" style="display: none">
                Lista grup
            </div>
            <div id="4" style="display: none">
                Lista ról
            </div>
        </div>
        <script>
            function MessageTypeChanged(Id)
            {
                var conditionalDocuments = document.getElementById("conditional");

                var allElements = conditionalDocuments.getElementsByTagName("*");

                var i;

                for (i = 0; i < allElements.length; i++) {
                    allElements[i].style.display = "none";
                }

                var visibleElement = document.getElementById(Id);

                visibleElement.style.display = "block";

                //var x = document.getElementById(Id);

                //if (x.style.display === "none") {
                //    x.style.display = "block";
                //} else {
                //    x.style.display = "none";
                //}
                //switch (Id)
                //{
                //    case (1): window.location.href = "/Controller/Actionmethod?value=" + val;
                //        break;
                //}
            }
        </script>
        <div class="form-group">
            <div class="control-label col-md-2">
                <strong>Wiadomość systemowa</strong>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsCyclical)
                    @Html.ValidationMessageFor(model => model.IsCyclical, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyślij" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
