@using LanguageSchool.Models.ViewModels

@model LanguageSchool.Models.ViewModels.MessageViewModels.UserMessageDetailsVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="bordered col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Tytuł:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Topic)
                </dd>

                <dt>
                    Data wysłania:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SentDate)
                </dd>

                <dt>
                    Data odczytania:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReceivedDate)
                </dd>

                <dt>
                    Treść:
                </dt>

                <dd>
                    @Html.Raw(Model.Contents)
                </dd>
            </dl>
        </div>

        @if (!@Model.IsSystem)
        {
            <div class="row col-md-12">
                <div class="col-md-2 col-md-offset-10">
                    <button class="btn btn-block btn-danger" type="button" data-toggle="modal" data-target="#deleteDialog">Usuń</button>
                </div>
            </div>
        }
    </div>
</div>

@Html.Partial("_DeleteDialog",
    new DeleteDialogViewModel(
        Model.UserMessageId,
        "Message",
        "Czy jesteś pewien że chcesz usunąć ten komunikat?"
    )
)
