@using PagedList.Mvc;
@model PagedList.IPagedList<LanguageSchool.Models.ViewModels.UserMessageViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            Data wysłania
        </th>
        <th>
            Data odczytania
        </th>
        <th>
            Tytuł
        </th>
        <th>
            Treść
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contents)
        </td>
    </tr>
}

</table>

<div class="col-md-5">
</div>
<div class="col-md-3">
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { sortColumn = ViewBag.sortColumn, sortDirection = ViewBag.sortDirection, page }))
</div>
<div class="col-md-4">
</div>