@model LanguageSchool.Models.ViewModels.UserMessageViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        @Html.Partial("_PartHeader", "Wyślij komunikat masowy")
        <div class="row form-horizontal">
            <div class="bordered col-md-12">
                <div class="row">
                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <strong>Temat</strong>
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <strong>Systemowy</strong>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsSystem)
                                @Html.ValidationMessageFor(model => model.IsSystem, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <strong>Typ wiadomości</strong>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.MessageTypeId, Model.MessageTypes, new { @id = "MessageType", @class = "form-control", @onchange = "MessageTypeChanged(this.value)" })
                        </div>
                    </div>
                    <div id="2002" class="form-group" style="display: none">
                        <div class="control-label col-md-2">
                            <strong>Grupa</strong>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.GroupId, Model.Groups, new { @class = "form-control" })
                        </div>
                    </div>
                    <div id="2003" class="form-group" style="display: none">
                        <div class="control-label col-md-2">
                            <strong>Kurs</strong>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.CourseId, Model.Courses, new { @class = "form-control" })
                        </div>
                    </div>
                    <div id="2004" class="form-group" style="display: none">
                        <div class="control-label col-md-2">
                            <strong>Rola</strong>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RoleId, Model.Roles, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="control-label col-md-2">
                            <strong>Treść</strong>
                        </div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "widetextarea form-control", @style = "width:830px;height:300px" } })
                            @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 col-md-offset-10">
                <input type="submit" value="Wyślij" class="btn btn-block btn-default" />
            </div>
        </div>
    </div>

    <script>
        window.onload = SendToAll();

        function SendToAll() {
            var element = document.getElementById("MessageType");

            element.value = 2005;
        }

        function MessageTypeChanged(Id) {
            var element;
            var i;

            for (i = 2002; i <= 2004; i++) {
                element = document.getElementById(i);

                element.style.display = "none";
            }

            var visibleElement = document.getElementById(Id);

            visibleElement.style.display = "block";
        }
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}