@model LanguageSchool.Models.ViewModels.TestViewModel

@{
    int i = ViewBag.i;

    Html.HiddenFor(model => model.ClosedQuestions[i].Contents);

    <li>
        @Model.ClosedQuestions[i].Contents

        <ul type="a">
            @for (int j = 0; j < Model.ClosedQuestions[i].Answers.Count; j++)
            {
                <li>
                    @Model.ClosedQuestions[i].Answers[j].Answer
                    
                    @Html.HiddenFor(model => Model.ClosedQuestions[i].Answers[j].AnswerId)
                    @Html.HiddenFor(model => Model.ClosedQuestions[i].Answers[j].Answer)

                    @if (Model.ClosedQuestions[i].IsMultichoice)
                    {
                        @Html.CheckBoxFor(model => model.ClosedQuestions[i].Answers[j].IsMarked, new { @style = "float:right" })
                    }
                    else
                    {
                        @Html.RadioButtonFor(model => model.ClosedQuestions[i].ChosenAnswerId, Model.ClosedQuestions[i].Answers[j].AnswerId, new { @style = "float:right" })
                    }
                </li>
            }
        </ul>
    </li>
}
