@using LanguageSchool.Models.ViewModels

@model LanguageSchool.Models.ViewModels.TestViewModel

@{
    ViewBag.Title = "TakeTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    int anotherHalf = (Model.ClosedQuestions.Count / 2) + 1;

    <div class="container">
        @*@Html.HiddenFor(model => model.CourseId)
        @Html.HiddenFor(model => model.Points)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Comment)*@

        <div class="row">
            <div class="bordered col-md-12">
                <div class="form-group col-md-6" style="border-right: 1px solid lightgray;">
                    <ol>
                        @for (int i = 0; i <= (Model.ClosedQuestions.Count / 2); i++)
                        {
                            ViewBag.i = i;

                            @Html.Partial("_PrepareAnswers");
                        }
                    </ol>
                </div>
                <div class="form-group col-md-6">
                    <ol start=@anotherHalf>
                        @for (int i = anotherHalf; i < Model.ClosedQuestions.Count; i++)
                        {
                            ViewBag.i = i;

                            @Html.Partial("_PrepareAnswers");
                        }
                    </ol>
                </div>
            </div>
        <div class="row">
            <div class="bordered col-md-12">
            </div>
        </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <input type="submit" value="Zakończ test" class="btn btn-block btn-default" />
                </div>
            </div>
        </div>
    </div>
}